@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Sacramento');
* {
  //outline: 1px dotted orange;
}

body {
  background-color: #ab9c73;
}

header {
  width:960px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
}

header img {
  margin-top: 10px;
}

header h1 {
  padding-top: 20px;
  font-size: 72px;
  font-family: Sacramento;
  background-color: #4e2422;
  color: #ab9c73;
}

main {
  width: 960px;
  padding: 20px 0;
  margin: 0 auto;
  background-color: #fff;
}

main h2 {
  margin: 20px auto;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  text-decoration: underline;
  color: #2e0402;
}

section:first-child {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

section:first-child p {
  margin: 40px 0 60px 0;
  clear: left;
  text-align: left;
}

p:nth-child(2) img {
  float: left;
  margin-right: 30px;
}

p:nth-child(3) img {
  float: right;
  margin-left: 30px;
}

figure {
  margin-top: 50px;
}

figcaption {
  color: #444;
  font-family: Georgia;
  font-style: italic;
  font-size: 14px;
}

section:nth-child(2) {
  margin: 0 auto;
  text-align: center;
}

section:nth-child(4) {
  clear:both;
}

section:last-child {
  text-align: center;
}

footer {
  bottom: 0px;
  width: 960px;
  margin: 0 auto;
  padding: 10px 0;
  background-color: #4e2422;
  text-align: center;
  color: #ac9d74;
  font-family: Times, serif;
}

a {
  color: #4e2422;
}

a:hover {
  color: #ab9c73;
}

table {
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 5px;
}

th {
  font-weight: bold;
  text-align: right;
}

tr:nth-child(even) td {
  background-color: #7e5452;
  color: #2e0402
}

td {
  width: 25px;
  height: 20px;
  padding: 10px;
  border: 2px solid #000;
  background-color: #4e2422;
  text-align: center;
  color: #ac9d74;
}

#hourloc {
  clear: both;
  text-align: center;
  width: 900px;
  margin-left: 30px;
}

#hourloc li {
  display: inline-block;
  width: 125px;
  margin-bottom: 30px;
}

#hourloc img:nth-child(2) {
  float: left;
}

#hourloc img:nth-child(3) {
  position: relative;
  top: -10px;
  float: right;
}

form {
  position: fixed;
  top: 350px;
  left: 0px;
  width: 450px;
  text-align: center;
}

form h4 {
  margin-bottom: 20px;
  font-size: 36px;
  color: #2e0402;
  text-decoration: underline;
  font-weight: bold;
}

fieldset div:first-child {
  width: 200px;
  float: left;
  margin-left: 20px;
  text-align: right;
}

fieldset div:nth-child(2) {
  width: 200px;
  float: right;
  margin-right: 20px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 20px;
  font-family: Geneva;
  font-size: 16px;
  font-weight: bold;
  color: #2e0402;
}

input {
  display: block;
  margin-bottom: 15px;
}

input[type="submit"] {
  cursor: pointer;
  display: inline-block;
  background-color: #4e2422;
  padding: 10px 20px;
  border: 0; 
  color: #ac9d74;
  font-weight: bold;
}

input[type="num"] {
  width: 60px;
}
